@import url("https://fonts.googleapis.com/css2?family=Gayathri:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
svg {
  cursor: pointer;
}
/* the login page */
.logIn {
  display: flex;
}
.logIn section {
  width: 50%;
}
/* the first section */
.logIn section:first-of-type {
  padding: 68px 0 0 80px;
}

.logIn section:first-of-type {
  color: #696f79;
  font-style: italic;
}
.logIn section:first-of-type > div:last-of-type {
  display: flex;
  justify-content: space-between;
}
.logIn section:first-of-type > div:last-of-type div {
  margin-top: 59px;
}
/*the seconed section */
.logIn section:last-of-type {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 146px;
}

.logIn section:last-of-type h1 {
  font-weight: 700;
  font-size: 42px;
}
.logIn section:last-of-type p {
  color: #8692a6;
  font-weight: 400;
  font-size: 18px;
  margin-top: 12px;
  margin-bottom: 40px;
}
/* the icons  */
.icons {
  width: 308px;
  display: flex;
  justify-content: space-between;
}
.icons div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 65px;
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
}

.link {
  margin-top: 27px;
  color: #696f79;
  font-weight: 500;
  font-size: 16px;
}
.link span a {
  color: #1565d8;
  text-decoration: none;
}
/* the signUp page */
.signUp {
  display: flex;
}

.signUp section:first-of-type {
  position: relative;
  color: white;
  width: 642px;
  padding: 62px 0 0 89px;
  background-image: url(./assets/controler.png);
}
.signUp section:first-of-type > *:not(div.filter){
  position: relative;
  z-index: 2;
}
.signUp section:first-of-type .filter {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #1565d8;
  opacity: 0.9;
  margin: -62px 0 0 -89px;
  z-index: 1;
}
.signUp .logo svg path {
  fill: #fff;
}
.signUp .logo {
  width: 106px;
}
.Name {
  width: 473px;
  margin-top: 59px;
  display: flex;
  justify-content: space-between;
}
.Name svg {
  margin-top: 27px;
}

.signUp section:last-of-type {
  padding: 82px 0 0 75px;
}
/* the second section */
/* the" < back" button  */
.back a {
  display: flex;
  align-items: center;
  gap: 14px;
  cursor: pointer;
  width: fit-content;
  text-decoration: none;
  color: #8692a6;
}
.signUp section:last-of-type {
  display: flex;
  flex-direction: column;
}
.main {
  padding: 100px 0 0 60px;
}
.main h1 {
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 10px;
}
.main p {
  width: 415px;
  font-weight: 400;
  font-size: 18px;
  color: #8692a6;
}


.main form + div {
  margin-left: 210px;
  margin-top: 10px;
}
.google {
  width: 426px;
  height: 64px;
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  border: none;
  margin-bottom: 37px;
  font-weight: 500;
  font-size: 16px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}
/* ////////////////// */
/* start the Home page styling */
main.home {
  background-color: #f9f9f9;
  display: flex;
  padding-top: 25px;
  overflow: hidden;
}
.home section:first-of-type {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 113px;
  height: 100vh;
  padding-bottom: 55px;
}
.home section:first-of-type nav {
  display: flex;
  flex-direction: column;
  row-gap: 27px;
}
/* the theme */
.home section:first-of-type .theme {
  width: 50px;
  height: 121px;
  background-color: #c1c1c1;
  border-radius: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
/* the line  */
hr {
  width: 5px;
  height: 92vh;
  background: #ffffff;
  box-shadow: inset 2px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 38px;
}

/* the Main section */
.home section:last-of-type{
  overflow: hidden;
}
/* the pfp  */
.home section:last-of-type > div:first-of-type {
  font-weight: 400;
  font-size: 25px;
  text-align: end;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 22px;
  padding-right: 40px;
}
.pfp img {
  height: 60px;
}
/* the New games section */
.home .content {
  padding-left: 45px;
}
.title {
  font-size: 25px;
  font-weight: 800;
}
.home .games-section > div {
  display: flex;
  column-gap: 30px;
  overflow-x: scroll;
  margin: 33px 0;
  font-weight: 800;
}
.home .games-section > div::-webkit-scrollbar{
  display: none;
}
/* the last bottom section */
.bottomSection {
  display: flex;
  column-gap: 90px;
}
/* the Last played */
.lastPlayed > div {
  margin-top: 30px;
}
.lastPlayed .LPgame:first-child img {
  height: 82px;
}
/* frinds */
.friends >div {
  margin-top: 30px;
}